@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Light.ttf); }

@font-face {
  font-family: Georgia;
  src: url(../fonts/Georgia.ttf); }

@font-face {
  font-family: Lovelo;
  src: url(../fonts/Lovelo%20Black.otf); }

body {
  background-color: #bccbd3;
  margin: 0px; }

a {
  color: black; }

.header {
  position: relative;
  display: block;
  margin: 0 auto; }

#logo {
  text-indent: -999rem;
  padding-top: 45px;
  background-size: cover;
  width: 300px;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  z-index: 2;
  display: block;
  margin: 0 auto;
  position: relative; }

.about {
  margin-top: 20px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 25px; }
  .about h2 {
    font-family: "Lovelo";
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-align: center; }
  .about p {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #fdfdfd;
    font-size: 16px;
    text-align: center; }

h2 {
  font-family: "Lovelo";
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  display: block;
  margin-top: 50px; }

.item {
  padding: 0px 25px 25px 25px; }
  .item h3 {
    font-family: Lovelo;
    color: rgba(0, 0, 0, 0.52);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    padding: 25px 25px 0px 25px;
    margin-bottom: 0px; }
  .item img {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; }
  .item p {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #fdfdfd;
    font-size: 16px;
    text-align: center;
    padding: 10px 25px 25px 25px; }

/* ----FLEXBOX Cases-------*/
.video {
  margin-bottom: 10px; }

.container {
  display: flex;
  flex-direction: column; }
  .container .item {
    flex-grow: 1; }

@media (min-width: 650px) {
  .container {
    flex-direction: row; } }

/* ---END FLEXBOX---- */
/* Video */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* MENU */
#show-menu {
  top: 12px;
  right: 14px;
  position: absolute;
  width: 28px;
  cursor: pointer; }

#desktop-menu {
  display: none; }

.show-menu {
  display: none;
  text-align: right;
  padding-top: 25px;
  padding-right: 17px;
  vertical-align: middle; }

#menu {
  padding-top: 20px;
  padding-bottom: 20px; }

#menu ul {
  display: none;
  list-style: none;
  padding-right: 20px;
  z-index: 11; }
  #menu ul li {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #fdfdfd;
    font-size: 16px;
    text-align: center;
    text-align: left;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 0 25px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.42);
    padding: 9px 0; }
    #menu ul li a {
      color: #fdfdfd; }
      #menu ul li a:hover {
        color: darkgrey; }
      #menu ul li a::after {
        content: "";
        position: absolute;
        bottom: 24px;
        height: 1px;
        width: 0%;
        left: 50%;
        background-color: white;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
        opacity: 0.78;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fdfdfd;
  font-size: 10px;
  text-align: center; }
  footer p {
    margin-top: 10px;
    margin-bottom: 3px; }
  footer h4 {
    font-family: Lovelo;
    color: rgba(0, 0, 0, 0.52);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 10px; }
  footer .footer-logo {
    width: 200px;
    height: 40px;
    padding: 10px 0px 10px 5px; }
  footer .item p {
    margin: 0px;
    padding: 10px; }
    footer .item p a {
      color: #fdfdfd; }
      footer .item p a:hover {
        color: black; }

/* Larger than mobile */
@media (min-width: 400px) {
  #logo {
    width: 400px; } }

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .six.columns {
    width: 100%; } }

/* Larger than tablet */
@media (min-width: 750px) {
  footer .footer-logo {
    padding: 70px 0px 10px 5px; }
  #logo {
    width: 700px; }
  #show-menu {
    display: none; }
  #desktop-menu {
    display: block;
    opacity: 1;
    height: auto; }
    #desktop-menu ul {
      position: absolute;
      right: 20px;
      top: 27px; }
      #desktop-menu ul li {
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #fdfdfd;
        font-size: 16px;
        text-align: center;
        text-transform: capitalize;
        display: inline-block;
        float: left;
        min-height: 1px;
        vertical-align: middle;
        padding: 27px 13px;
        margin-bottom: 0;
        border-bottom: none; }
        #desktop-menu ul li a {
          color: #fdfdfd; }
          #desktop-menu ul li a:hover::after {
            content: "";
            display: block;
            bottom: 24px;
            height: 1px;
            width: 100%;
            background-color: white;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
            opacity: 0.78;
            transition: background-color 1s; }
      #desktop-menu ul .current-menu-item a::after {
        content: "";
        display: block;
        bottom: 24px;
        height: 1px;
        width: 100%;
        background-color: white;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
        opacity: 0.78;
        transition: background-color 1s; } }

/* Larger than desktop */
@media (min-width: 800px) {
  .six.columns {
    width: 48%; } }

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .introduction {
    margin: 30px 80px; } }
