@font-face {
  font-family: Georgia;
  src: url(../fonts/Georgia.ttf);
}
@font-face {
  font-family: Lovelo;
  src: url(../fonts/Lovelo%20Black.otf);
}

$background-color: #bccbd3;
$text-color: #fdfdfd;
$h2-color: #000000;
$h3-color: rgba(0, 0, 0, 0.52);

@mixin p-style{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $text-color;
  font-size: 16px;
  //text-align: center;
}
@mixin footer-style{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $text-color;
  font-size: 10px;
  //text-align: center;
}
@mixin h2-style{
  font-family: "Lovelo";
  color: $h2-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
@mixin h3-style{
  font-family: Lovelo;
  color: $h3-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}
@mixin h4-style{
  font-family: "Lovelo";
  color: $h3-color;
  color: white;
  //text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
body{
  background-color: $background-color;
  margin: 0px;
}
a{
  color: black;
}

.header{
  position: relative;
  display: block;
  margin: 0 auto;
}
#logo {
  text-indent: -999rem;
  padding-top: 50px;
  padding-bottom: 20px;
  background-size: cover;
  width: 320px;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  z-index: 2;
  display: block;
  margin: 0 auto;
  position: relative;
  @media (min-width: 375px) {
    #logo img{
      width: 370px;
    }
  }
}
.about{
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 25px;


  h2{
    @include h2-style;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  p{
    @include p-style;
    font-size: 20px;
    margin-bottom: 0px;
  }
}
@media (min-width: 770px) {
  .about p{
    padding: 0px 50px 25px 50px;
  }
}
@media (min-width: 1500px) {
  .about p{
    padding: 0px 70px 25px 70px;
  }
}
@media (min-width: 770px) {
  .about {
    h2 {
      padding-bottom: 10px;
      padding-top: 50px;
      margin: 0px;
    }
  }
}
  h2{
    @include h2-style;
    display: block;
    margin-bottom: 10px;
  }
.cases{
  padding: 25px;
}

.item{
  h3{
    @include h3-style;
    padding: 5px 25px 10px 25px;
    margin-bottom: 0px;
  }
  img{
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .case-img.ad{
    width: 100%;
    margin-top: 10px;
  }
  p{
    @include p-style;
    font-size: 20px;
  }

}

@media (min-width: 770px) {
  .item{
    .case-img.ad{
      width: 85%;
      margin-top: 0px;
    }
  }
}

.twelve.columns.item{
  p{
    padding-bottom: 25px;
  }
}
@media (min-width: 770px) {
  .twelve.columns.item{
    p{
      padding: 0px 50px 25px 50px;
    }
  }
}
@media (min-width: 1500px) {
  .twelve.columns.item{
    p{
      padding: 0px 70px 25px 70px;
    }
  }
}
.container{
  margin-top: 20px;
}
.container.item{
  background-color: #848F94;
}
#contact{
  max-width: 1000px;
}
/* ----FLEXBOX Cases-------*/
.six.columns{
  margin: 0px;
}
.video{
  margin-bottom: 10px;
}

.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
@media (min-width: 650px) {
  #casino{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container{
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    .item{
      width: 50%;
    }
    #video{
      width: 100%;
      max-width: 700px;
    }
    .one{
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
      padding-bottom: 10px;
    }
    .two{
      -webkit-box-ordinal-group: 3;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 3;
      -webkit-order: 3;
      order: 3;
    }
    .three{
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
    }
    .four{
      -webkit-box-ordinal-group: 4;
      -moz-box-ordinal-group: 4;
      -ms-flex-order: 4;
      -webkit-order: 4;
      order: 4;
      padding-top: 10px;
    }
  }
  .item{

    h3{
      padding: 0px 25px;
    }
    p{
      margin: 0px;
      padding-bottom: 0px;
    }

  }

}
/* ---END FLEXBOX---- */

/* Video */
.embed-container{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}


.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
@media (min-width: 770px) {
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    //width: 84%;
    //height: 84%;

  }
  .embed-container {
    margin-top: 0px;
  }
}

/* Radio */
.audio{
  //display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 10px;
  padding-top: 15px;

}
@media (min-width: 770px) {
  .audio{
    margin-top: 0px;
  }
}
@media (min-width: 800px) {
  .audio{
    padding-top: 25px;
    padding-bottom: 19px;
  }
}


/* MENU */
#show-menu{
  top: 15px;
  right: 20px;
  position: absolute;
  width: 35px;
  cursor: pointer;
}
#desktop-menu{
  display: none;
}
.show-menu {
  display: none;
  text-align: right;
  padding-top: 25px;
  padding-right: 17px;
  vertical-align: middle;
}

#menu ul{
  //background-color: rgba(white, 0.3);
  display: none;
  list-style: none;
  padding-right: 20px;
  z-index: 11;
  li{
    @include p-style;
    text-align: left;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 0 25px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.42);
    padding: 9px 0;
    a{
      color: $text-color;;
      &:hover{
        color:darkgrey;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 24px;
        height: 1px;
        width: 0%;
        left: 50%;
        background-color: white;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
        opacity: 0.78;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }
    }

  }
}
footer{
  width: 100%;
  background-color: rgba(black, 0.3);
  @include footer-style;
  p{
    margin-bottom: 0px;
    margin-top: 2px;
    padding: 0px;
  }
  h4{
    @include h4-style;
    margin-bottom: 0px;
    padding-top: 20px;
    text-align: left;
  }
  .footer-logo{

    padding-top: 15px;
    display: block;
    margin: 0px;

  }
  .item {
    p {
      a{
        color: $text-color;
        &:hover{
          color: black;
        }
      }
      margin: 0px;
    }

  }
  .container{
    padding: 0px 25px 5px 25px;
  }
}
.copy{
  text-align: center;
  background-color: rgba(black, 0.5);
}


/* Larger than mobile */
@media (min-width: 400px) {
  #logo{
    width: 400px;
  }
}
@media (min-width: 770px) {
  .audio{
    //width: 86%;
    //display: inline;
  }
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .six.columns{
    width: 100%;
  }
  footer {
    margin-top: 50px;
    .footer-logo {
      padding: 80px 0px 10px 5px;
    }
  }
}
@media (min-width: 650px) {
  footer{
    .footer-logo{
      padding: 10px 0px 10px 5px;
    }
  }

}



/* Larger than tablet */
@media (min-width: 770px) {
  #mini-logo{
    display: none;
    width: 170px;
    float: right;
    padding-top: 26px;
    padding-right: 115px;
  }

  #logo{
    width: 700px;
    padding-top: 20px;
  }
  #show-menu{
    display: none;
  }
  #desktop-menu{
    display: block;
    opacity: 1;
    height: auto;

    .navul.sticky{
      position: fixed;
      width: 100%;
      left: 0px;
      top: 0px;
      z-index: 100;
      border-bottom: 1px solid white;
      background-color: rgba($background-color, 0.9);
      padding-left: 60px;
      box-shadow: 0 -36px 91px 0 rgba(50,50,50,.6);

    }
    .show{
      display: block;
    }
    ul{
      position: absolute;
      left: 60px;
      top: 160px;
      li{
        @include p-style;
        font-size: 18px;
        text-transform: capitalize;
        display: inline-block;
        float: left;
        min-height: 1px;
        vertical-align: middle;
        padding: 27px 13px;
        margin-bottom: 0;
        border-bottom: none;
        a{
          color: $text-color;
          &:hover{

            &::after {
              content: "";
              display: block;
              bottom: 24px;
              height: 1px;
              width: 100%;
              background-color: white;
              filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
              opacity: 0.78;

              transition: background-color 1s;
            }
          }

        }
      }
      .current-menu-item a{
        &::after {
          content: "";
          display: block;
          bottom: 24px;
          height: 1px;
          width: 100%;
          background-color: white;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
          opacity: 0.78;

          transition: background-color 1s;
        }
      }
    }
  }

}


/* Larger than desktop */
@media (min-width: 800px) {
  .six.columns{
    width: 48%;
  }
  .item{
    h3{
      font-size: 28px;
    }
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .introduction{
    margin: 30px 80px;
  }
}
@media (min-width: 770px) {
 .item img{
   max-width: 617px;
   display: inline;
 }
}
@media (min-width: 1700px) {
  #desktop-menu ul{
      left:80px;
  }
}
.item.image{
  .banner{
    margin-top: 25px;
  }
}

.case-img {
  width: 100%;
  max-width: 700px;
}

@media (min-width: 900px) {
  #cases{
    .container{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;

      #video{
        width: 47%;
        flex-grow: 1;
        //align-self: flex-start;
        margin: 0px 15px;
      }
      .case{
        width: 47%;
        flex-grow: 1;
        margin: 0px 15px;
      }
    }
  }
}
@media (min-width: 1700px) {
  #cases .container #video{
    margin-right: 95px;
  }
  #cases{
    margin-left: 39px;
  }
}
.ad{
  margin-top: 20px;
}
@media (min-width: 900px) {
  .ad{
    margin-top: 0px;
  }
}